<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <main>
        <label>
            <select>
                <option>시군구명</option>
            </select>
            <select>
                <option>배달가능여부</option>
            </select>
            <button type="button">조회</button>
        </label>
        <br>
        <table border="1">
            <thead>
            <tr>
                <th>순번</th>
                <th>프랜차이즈명</th>
                <th>가맹점명</th>
                <th>전화번호</th>
                <th>도로명주소</th>
                <th>평일 운영 시간</th>
                <th>토요일 운영 시간</th>
                <th>배달가능여부</th>
                <th>좋아요하기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="data, stat: ${dataList}">
                <td th:text="${stat.count}">1</td>
                <td th:text="${data.프랜차이즈명}">프랜차이즈명</td>
                <td class="storeName" th:text="${data.가맹점명}">가맹점명</td>
                <td th:text="${data.전화번호}">전화번호</td>
                <td th:text="${data.소재지도로명주소}">도로명주소</td>
                <td th:text="${data.평일운영시작시각}">평일 운영 시간</td>
                <td th:text="${data.토요일운영시작시각}">토요일 운영 시간</td>
                <td th:text="${data.배달가능여부}">배달가능여부</td>
                <td><a href="#" id="likeBtn">좋아요</a><input type="hidden" value="0" id="likeCount"></td>
            </tr>
            </tbody>
        </table>
    </main>
</body>
</html>